
<div class="row" >
    <div class="col-md-6">
        <p>
            <a routerLink="/admin/admin-products/new" class="btn btn-primary">
            Add New Product
            </a>
         </p>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                <th>Title</th>
                <th>Price</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products$ | async">
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }}</td>
                    <td>
                        <a [routerLink]="['/admin/admin-products/', p.$key]">
                            <button class="btn btn-primary">
                                <i class="fas fa-edit">Edit</i>
                            </button>
                        </a>    
                    </td>
                </tr>
            </tbody>  
        </table> 
    </div>
</div>