
<div class="row" >
    <div class="col-md-6">
            <a routerLink="/admin/admin-products/new" class="btn btn-primary">
            Add New Product
            </a>
            <br>
            <br>
            <br>
            <a routerLink="/admin/admin-categories/new" class="btn btn-primary">
                Add New Category
            </a>
    </div>
    <div class="col-md-6">
        <p>
            <input 
                #query
                (keyup)="filter(query.value)" 
                type="text" class="form-control" placeholder="Search for Products" 
            >
        </p>
        <table class="table">
            <thead>
                <tr>
                <th>Title</th>
                <th>Price</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of filteredProducts">
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }}</td>
                    <td>
                        <a [routerLink]="['/admin/admin-products/', p.$key]">
                            <button class="btn btn-primary">
                                <i class="fas fa-edit">Edit</i>
                            </button>
                        </a>    
                    </td>
                </tr>
            </tbody>  
        </table> 
    </div>
</div>